@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: 'Lato', sans-serif;
}

nav.navbar {
	background-color: #4959EE;
}
a.navbar-item {
	color: white;
}
a.navbar-item:hover {
	background-color: transparent;
	color: lightblue;
}
.heading {
	background-color: #4959EE;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
.pfp {
	border-radius: 100%;
	width: 250px;
}
.pfp:hover {
	transition: transform 1s;
	transform: rotate(360deg);
}
.media-content {
	overflow-y: hidden;
}
a:hover .fas, a:hover .fab {
	transform: scale(1.25);
	color: lightblue;
}